# Operating systems
.DS_Store
Thumbs.db

# Local environment
.env
.env.*
!.env.example

# Local Pact state
.pact/

# Go
bin/
coverage.out
*.test

# Terraform local state
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.tfvars.example
crash.log
crash.*.log
*.tfplan

# Editors
.idea/
.vscode/
